<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some website</title>
	</head>
	<body>
		{{> header}}
		<!-- the first is the function, the second the argument -->
		<p>{{screamIt welcomeMessage}}</p>

		{{> footer}}
	</body>
</html>